@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
    font-family:'Quicksand';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(241, 252, 255)
}

#article {
    background-color: white;
    width: 80%;
    height: fit-content;
    border: 0.5px solid gray;
    border-radius: 25px;
}

#article img {
    width: 100%;
    border-radius:inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#article-info {
    margin: 2%;
}

#article-info * {
    margin: 1%;
}

#comment {
    margin-top: 2%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#comment textarea {
    width: 60%;
    margin-bottom: 1%;
    border-radius: 25px;
    padding: 1%;
}

iframe {
    margin-top: 2%;
    width: 80%;
    height:auto;
    border-radius: 25px;
    border: none;
}

button {
    background-color: rgb(57, 136, 255);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 1.5% !important;
    font-size: 18px;
}

#thumbnail-form {
    display: none;
}

#add-content-images-form {
    display: none;
}

#content-images-container {
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

#content-images-container div {
    width: 30%;
}

#content-images-container div img {
    object-fit: cover;
}

.image-item {
    position: relative;
}
  
.image-delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#edit-title-yes, #edit-title-no, #edit-content-yes, #edit-content-no{
    display: none;
}