@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  display: grid;
  place-items: center;
  height: 100vh;
  /* background: #7f7fd5;
  background: linear-gradient(to right, #d7f8ff, #4bb9f4, #1e00ff); */
  background-color: rgb(241, 252, 255);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-block: 2rem;
  gap: 2rem;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ECE9E6;
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}

.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.tag {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: .75rem;
}

.tag + .tag {
  margin-left: .5em;
}

.tag-blue {
  background: #56CCF2;
background: linear-gradient(to bottom, #2F80ED, #56CCF2);
  color: #fafafa;
}

.tag-brown {
  background: #D1913C;
background: linear-gradient(to bottom, #FFD194, #D1913C);
  color: #fafafa;
}

.tag-red {
  background: #cb2d3e;
background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: .5rem;
}

.user__image {
  border-radius: 50%;
}

.user__info > small {
  color: #666;
}

#read-more {
  color: white;
  background-color: #2F80ED;
  padding: 3.5%;
  border: none;
  border-radius: 25px;
  font-size: larger;
}

.single-card {
  width: 100% !important;
  margin: 0 !important;
}

.modal,.modal-2,.modal-3 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content,.modal-content-2,.modal-content-3 {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.modal-content-2 button {
  /* background-color: yellow; */
  background: rgb(2,0,36) !important;
  background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%) !important; 
  color: white !important;
  border: none;
  border-radius: 20px;
  padding: 3.5% !important;
  font-size: 18px;
  margin: 1%;
  width: 100%;
}

.close,.close-2,.close-3 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus,
.close-2:hover,
.close-2:focus,
.close-3:hover,
.close-3:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.modal-content,.modal-content-2,.modal-content-3 {
  /* background-color: #4a4a4a; */
  background: rgb(255,177,0);
  background: linear-gradient(90deg, rgba(255,177,0,1) 0%, rgba(251,255,0,1) 100%); 
  color: yellow;
  width: 30%;
  border-radius: 20px;
  font-size: 18px;
}